{% extends 'base.html.twig' %}

{% block title %}Hospital index{% endblock %}

{% block body %}
    <h1>Hospitals</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for hospital in hospitals %}
            <tr>
                <td>{{ hospital.name }}</td>
                <td>{{ hospital.phoneNumber }}</td>
                <td>{{ hospital.address }}</td>
                <td>
                    <a href="{{ path('hospital_show', {'id': hospital.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('hospital_edit', {'id': hospital.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('hospital_new') }}">Create new</a>
    {% endif %}
{% endblock %}
