{% extends 'base.html.twig' %}

{% block title %}Hospital{% endblock %}

{% block body %}
    <h1>{{ hospital.name }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <hr>
        <a href="{{ path('hospital_edit', {'id': hospital.id}) }}">edit</a>
        {{ include('hospital/_delete_form.html.twig') }}
    {% endif %}
    <hr>
    <table>
        <tbody>
        <tr>
            <td>{{ hospital.phoneNumber }}</td>
        </tr>
        <tr>
            <td>{{ hospital.address }}</td>
        </tr>
        </tbody>
    </table>
    <hr>


    {{ include('contact/new.html.twig') }}

    <a href="{{ path('hospital_index') }}">back to hospitals</a>


{% endblock %}
