{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>{{ contact.subject }}</h1>
    <hr>
    <p>Message: {{ contact.message }}</p>
    <p>
        Reply To: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>

    </p>


    <a href="{{ path('contact_index') }}">back to contacts</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
